.loading-logo-enter-from,
.loading-logo-leave-to {
    opacity: 0;
    transform: translateY(100px);
}
.loading-logo-enter-to,
.loading-logo-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.loading-logo-enter-active,
.loading-logo-leave-active {
    transition: all 200ms ease-in-out;
}

.loading-text-enter-from,
.loading-text-leave-to {
    opacity: 0;
    transform: translateY(100px);
}
.loading-text-enter-to,
.loading-text-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.loading-text-enter-active,
.loading-text-leave-active {
    transition: all 300ms ease-in-out;
}

.loading-small-text-enter-from,
.loading-small-text-leave-to {
    opacity: 0;
    transform: translateY(-35px);
}
.loading-small-text-enter-to,
.loading-small-text-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.loading-small-text-enter-active,
.loading-small-text-leave-active {
    transition: all 450ms ease-in-out;
}